<ion-view view-title="">
  <ion-content>
   <div class="list">

  <a class="item item-icon-left" href="templates/payslip.html">
    <i class="icon  ion-cash color-active-positive"></i>
    Pay Slip
  </a>
 <a class="item item-icon-left" href="#">
    <i class="icon ion-pie-graph"></i>
    Allowance
  </a>
  
 <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-list"></i>
    Course undertaking
  </a>
  

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    About me
    
  </a>
<a class="item item-icon-left" href="#">
    <i class="icon ion-eye-disabled"></i>
    About App
</a>
</div>
  </ion-content>
</ion-view>
<!--
philippians 4:13
-->