<!--
philippians 4:13
-->

<ion-tabs class="tabs-icon-top tabs-color-active-calm">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash" view-title="Home">
      
    </ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Depart Memo" icon-off="ion-ios-email" icon-on="ion-ios-email" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="self service" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

 <ion-tab title="Group chart" icon-off="ion-ios-chatboxes" icon-on="ion-ios-chatboxes" href="#/tab/chat-details">
    <ion-nav-view name="tab-chat-details"></ion-nav-view>
  </ion-tab>
</ion-tabs>
